/* A nice font */
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    height: 100vh;
}

body.background-image {
    background: url('images/Background-Image-OLAC.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.background {
    background-color: rgb(65,90,119,0.5);
}

/* center text */
.center-text {
    text-align: center;
}

/* --------------------------------------------------------------------------- CSS for id: header, start --------------------------------------------------------------------------- */
#header {
    height: 144px;
    background-color: #000232;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

#header > div:first-child {
    width: 144px;
    height: 100.8px;
    margin: 21.6px;
}

#header > div:first-child img {
    width: 100%;
    height: 100%;
}

#header > div:last-child {
    width: 60%;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin-left: auto;
}

#header > div:last-child > div {
    margin: auto;
    margin-left: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* --------------------------------------------------------------------------- CSS for id: header, end --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- CSS for id: search-bar, start --------------------------------------------------------------------------- */
#search-bar {
    width: 97.65625%;
    height: 100px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: relative;
}

#search-bar > div {
    position: absolute;
    width: inherit;
    height: inherit;
}

#search-bar > div:first-child {
    background-color: #D9D9D9;
    border-radius: 50px;
    opacity: 50%;
}

#search-bar > div:last-child {
    display: flex;
    flex-direction: row;
}

#search-bar > div:last-child > div {
    height: 78%;
    border-radius: 39px;
    margin: auto;
}

#search-bar > div:last-child > div:first-child {
    margin-left: 11px;
    margin-right: 0;
}

#search-bar > div:last-child > div:last-child {
    margin-right: 11px;
}

#search-bar > div:last-child > div {
    display: flex;
}

#search-bar > div:last-child > div:first-child {
    width: 77.8%;
    background-color: #778DA9;
    opacity: 50%;
    box-sizing: border-box;
    border: 5px groove #1b263b88;
}

#search-bar > div:last-child > div:nth-child(2) {
    width: 7.2%;
    background-color: #1B263B;
    opacity: 95%;
}

#search-bar > div:last-child > div:nth-child(3) {
    width: 12.6%;
    background-color: #1B263B;
    opacity: 95%;
    flex-direction: row;
    text-align: right;
}

#search-bar > div:last-child > div > div {
    width: fit-content;
    margin: auto;
    color: #ffffff;
    font-size: 24px;
}

#search-bar > div:last-child > div:first-child > div {
    margin-left: 30px;
}

#search-bar > div:last-child > div:nth-child(3) > div:first-child {
    margin-right: 0;
}

#search-bar > div:last-child > div:nth-child(3) > div:last-child {
    margin-left: 0;
    font-size: 96px;
    margin-top: -32px;
}
/* --------------------------------------------------------------------------- CSS for id: search-bar, end --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- CSS for id: email-bar, start --------------------------------------------------------------------------- */
#email-bar {
    width: 25%;
    height: 70px;
    display: relative;
}

#email-bar > div {
    position: absolute;
    width: inherit;
    height: inherit;
}

#email-bar > div:first-child {
    background-color: #D9D9D9;
    border-radius: 50px;
    opacity: 50%;
}

#email-bar > div:last-child {
    display: flex;
    flex-direction: row;
}

#email-bar > div:last-child > div {
    height: 78%;
    border-radius: 39px;
    margin: auto;
}

#email-bar > div:last-child > div:first-child {
    margin-left: 11px;
    margin-right: 0;
}

#email-bar > div:last-child > div:last-child {
    margin-right: 11px;
}

#email-bar > div:last-child > div {
    display: flex;
}

#email-bar > div:last-child > div:first-child {
    width: 77%;
    background-color: #778DA9;
    opacity: 50%;
    box-sizing: border-box;
    border: 5px groove #1b263b88;
}

#email-bar > div:last-child > div:nth-child(2) {
    width: 19%;
    background-color: #1B263B;
    opacity: 95%;
}

#email-bar > div:last-child > div > div {
    width: fit-content;
    margin: auto;
    color: #ffffff;
    font-size: 18px;
}

#email-bar > div:last-child > div:first-child > div {
    margin-left: 30px;
}
/* --------------------------------------------------------------------------- CSS for id: email-bar, end --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- CSS for class: container1, start --------------------------------------------------------------------------- */
/* Move elements to the center */
.center-container1 {
    width: 46.875%;
    margin-left: auto;
    margin-right: auto;
}

/* Creates a row of elements in the element with this class */
.container1:not(.center-container1) {
    display: flex;
    flex-direction: row;
}

/* Helps the container class to look nicer */
.container1:not(.center-container1) > div {
    width: 46.875%;
}

.container1:not(.center-container1) > div {
    margin-left: 0;
    margin-right: auto;
}

.container1:not(.center-container1) > div:last-child {
    margin-right: 0;
    margin-top: 100px;
}

.container1 .container1 > div:last-child {
    margin-top: 0;
}

.container1 > div > div:not(.container1) {
    background-color: #1B263B;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 60px;
    opacity: 95%;
}

.container1 > div > div > div {
    width: 83.3333%;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}

.container1 h2 {
    font-size: 32px;
    font-weight: 900;
}

.container1 p {
    font-size: 24px;
    opacity: 80%;
}

/* --------------------------------------------------------------------------- CSS for search results, start --------------------------------------------------------------------------- */


.container:not(.center) div.advanced_search {
    background-color: #D9D9D9;
    border-radius: 30px;
    opacity: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 80%;
    padding: 10px 20px;
}

.blue_bg {
    background-color: #a9b4c2;
}

.search_tag {
    background-color: #778DA9;
    width: 15%;
    border-radius: 5px;
    padding: 6px;
    color: #FFFFFF;
}

.advanced_search .search_table {
    width: 100%;
    margin: auto;
    border-spacing: 20px;
}

.search_input {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 6px;
    color:rgba(0, 0, 0, 0.5);
}

.advanced_search_results {
    background-color: #1B263B;
    color: #FFFFFF;
    border-radius: 20px;
    /* margin: auto; */
    width: 100%;
}

.advanced_search_results > tbody > tr > th {
    width: 14%;
}

.advanced_search_results_body {
    background-color: #a9b4c2;
    width: 100%;
    border-radius: 20px;
    border-spacing: 20px;
    margin-top: 20px;
}

.advanced_search_results_body td{
    background-color: #a9b4c2;
    border-radius: 20px;
    /* border-spacing: 20px; */
    width: 14%;
    text-align: center;
}

.advanced_search_results_body .language_tag {
    background-color: #1B263B;
    color: #FFFFFF;
}

.advanced_search p {
    font-weight: bold;
}

.advanced_search a {
    padding: 6px;
    border-radius: 10px;
    background-color: #1B263B;
    color: #FFFFFF;
}

/* a:visited {
    color: #95d4ff;
} */


/* --------------------------------------------------------------------------- CSS for search results, end --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- CSS for class: container2, start --------------------------------------------------------------------------- */
.container2 {
    width: 93.75%;
    margin-left: auto;
    margin-right: auto;
    display: relative;
    height: 1600px;
}

.container2 > div {
    position: absolute;
    width: inherit;
    height: inherit;
}

.container2 > div:first-child {
    background-color: #778DA9;
    border-radius: 50px;
    opacity: 50%;
    
}

.container2 > div:last-child {
    display: flex;
    flex-direction: column;
}

.container2 > div:last-child > div {
    background-color: #1B263B;
    width: 91.7%;
    opacity: 95%;
    color: white;
    border-radius: 60px;
    margin: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}

.container2 > div:last-child > div:first-child {
    margin: auto;
}

.container2 > div:last-child > div:last-child {
    margin: auto;
}

.container2 > div:last-child > div > div {
    margin: auto;
}

.container2 > div:last-child > div > div:first-child {
    width: 80.8%;
}

.container2 h2 {
    font-size: 32px;
    font-weight: 900;
}

.container2 p {
    font-size: 24px;
    opacity: 80%;
}
/* --------------------------------------------------------------------------- CSS for class: container2, end --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- CSS for class: container3, start --------------------------------------------------------------------------- */
.container3 {
    width: 93.75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 302px;
    margin-bottom: 60px;
}

.container3 > div:first-child {
    height: 60px;
    width: 100%;
    background-color: #1B263B;
    margin-bottom: auto;
    border-radius: 30px;
    opacity: 95%;
    display: flex;
}

.container3 > div:last-child {
    height: 218px;
    width: inherit;
    display: relative;
}

.container3 > div:last-child > div {
    height: inherit;
    width: inherit;
    position: absolute;
}

.container3 > div:last-child > div {
    display: flex;
    flex-direction: row;
}

.container3 > div:last-child > div:first-child > div {
    background-color: #778DA9;
    border-radius: 30px;
    opacity: 50%;
}

.container3 > div:last-child > div > div {
    width: 8.875%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.container3 > div:last-child > div > div:last-child {
    margin-right: 0;
}

.container3 > div:last-child > div:first-child > div > div {
    background-color: #1B263B;
    border-radius: 30px;
    margin-top: auto;
}

.container3 > div:last-child > div > div > div {
    display: flex;
    flex-direction: column;
}

.container3 > div:last-child > div > div > div:first-child {
    height: 72.37706422%;
}

.container3 > div:last-child > div > div > div:last-child {
    height: 27.52293578%;
}
.container3 p {
    width: fit-content;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 24px;
}

.container3 p:last-child {
    margin: auto;
}

.container3 > div:first-child p {
    font-size: 32px;
    margin-left: 2.2375%;
}
/* --------------------------------------------------------------------------- CSS for class: container3, end --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- CSS for class: container4, start --------------------------------------------------------------------------- */
.container4{
    display: flex;
    flex-direction: row;
    height: 1600px;
}
.container4_1 {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.container4_1 > div {
    position: absolute;
    width: inherit;
    height: inherit;
}

.container4_1 > div:first-child {
    background-color: #D9D9D9;
    border-radius: 10px; 
    padding: 10px;
}

.container4_2 {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}

.container4_2 > div {
    position: absolute;
    width: inherit;
    height: inherit;
}

.container4_2 > div:first-child {
    background-color: #D9D9D9;
    border-radius: 10px; 
}

.headpiece {
    width: fit-content;
    margin: 20px 0px 20px 40px;
    background-color: #415A77;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.texts {
    margin: 0px 0px 60px 40px;
    background-color: #1B263B;
    width: 91.7%;
    opacity: 95%;
    color: white;
    border-radius: 10px;
    display: flex;
    padding: 10px;
}
/* --------------------------------------------------------------------------- CSS for class: container4, end --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- CSS for id: info, start --------------------------------------------------------------------------- */
/* Includes all divs inside the 'info' div */
#info {
    display: flex;
    flex-direction: row;
}

#title {
    width: 15%;
    height: fit-content;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #415A77;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

#back {
    width: 15%;
    height: fit-content;
    padding: 4px;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #1B263B;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}

#iso {
    width: 15%;
    height: fit-content;
    padding: 4px;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 10px;
    background-color: #415A77;
    color: white;
    border-radius: 10px;
    text-align: center;
}
/* --------------------------------------------------------------------------- CSS for class: title, end --------------------------------------------------------------------------- */

/* This style is a modyfied version of the one from this site: 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1B263B;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 200px;
    opacity: 95%;
}
